*{
    margin: 0px;
    color: #4C4C6D;
}

header {
    height: 7vh;
    width: 100%;
    background: #ECD662;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Tapestry', cursive;

}

.max {
    max-height: 38px;
}

.share {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space {
    padding: 5px;
}

.margenes {
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    background: #ECD662;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.text {
    padding-right: 10px;
    margin-top: 15px
}

section {
    width: 100%;
    height: 86vh;
    background: #388E3C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #C2F784;
    border: 5px solid #4C4C6D;
}

.boton {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #4C4C6D;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.joystick {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #4C4C6D;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
}

.boton:hover {
    transform: translateY(4px);
    border: none;
}

.backgroundModal {
    background-color: #F0F4C3;
    color: #4C4C6D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnModal {
    color: #fff;
    background-color: #4C4C6C;
    border-color: #4C4C6D;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #4C4C6D;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.input {
    background-color: #DCEDC8 !important;
    border-color: #4C4C6D !important;
}

.active {
    transform: translateY(4px);
    border: none;
}

.titulo {
    font-size: 35px;
}

.invisible {
    display: none;
}

.playGame:hover {
    transform: translateY(4px);
    border: none;
}